{
 	frankenphp
}

# The domain name of your server
deploy.midda.id {
	# Set the webroot to the public/ directory
	root * public/
	# Enable compression (optional)
	encode zstd br gzip
	# Execute PHP files from the public/ directory and serve assets
	php_server

	@assetlinks {
        path /.well-known/assetlinks.json
    }
	
    respond @assetlinks 404
}